# job: {{ job_name }}

1) Edit job_specs.yaml to customize job specifications

2) Edit {{ job_name }}.ipynb (Jupyter Notebook).
This notebook is where the create table logic will be defined.
Start the jupyter environment in your browser with `dsflow start-jupyter`.

3) Execute your flow with `dsflow run {{ job_name }} {{ ds }}`
