version: '0.1'
description: Create table {{ dataset_name }}
class: JupyterNotebook
image: dsflow/pyspark:2.2  # not implemented
script: {{ job_name }}.ipynb

job_parameters:
  - ds

task_specs:
  source_path: "/data/raw/{{ dataset_name }}/ds={% raw %}{{ ds }}{% endraw %}"
  sink_path: "/data/tables/{{ dataset_name }}/ds={% raw %}{{ ds }}{% endraw %}"
  ds: "{% raw %}{{ ds }}{% endraw %}"
